body{
    margin: 0;
    overflow-x: hidden ;
}
.main{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-right: 5vw;
    /* background-image: url(file:///C:/Users/arina/OneDrive/Рабочий%20стол/Фоннн.jpg); */
}

.mainsp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #d1eaa6;
    width: 100vw;
    height: 510vh;
}
.mainmen{
    width: 100vw;
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d1eaa6;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 17vh;
    background-color: #7FC1DD;


}
.food{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 25vh;
    background-color: #d1eaa6;
}
.shipht{
    color: #242c17;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2vh;
    font-size: 6ch;
    font-weight: 700;
    text-decoration: none; 
}
.shipht2{
    color: #242c17;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2vh;
    font-size: 4ch;
    font-weight: 700;
    text-decoration: none; 
}
.shipht3{
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2vh;
    font-size: 3ch;
    font-weight: 700;
    text-decoration: none;
}
.poloska{
    width: 100vw;
    height: 3vh;
    background-color: #B4D974;
}
.but{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3vh;
    border-radius: 25px ;
    width: 25vw;
    height: 11vh;
    background-color: #d1eaa6;
    opacity: 1;
    border: solid 3px #74afc9;  
    transition: 0.5s;                                   
}
.but:hover{
    background-color: #e0ffaa ;
    border: solid 3px #bcebff;
}
.start{
    display: flex;
    justify-content: space-around;

    height: 15vh;
    width: 40vw ;
    margin-left: 30vw;
    margin-top: 3vh;
    background-color: #7FC1DD;
    border-radius: 25px;
    border: solid 3px #B4D974;
    transition: 0.5s;
}
.start:hover{
    background-color: #a1e3ff;
    border: solid 3px #cffa85

}
.phon{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.statya{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e0ffaa;
    border: solid 3px #74afc9;
    border-radius: 25px ;
    width: 94vw;
    height: 35vh;
    margin-left: 3vw;

}
.statyapict{
    margin-top: 3vh;
    width: 20vw;
    height: 29vh;
    border-radius: 25px;
    border: solid 3px #74afc9; 
    transition: 0.5s;
}
.statyapict:hover{
    margin-top: 1.5vh;
    width: 23vw;
    height: 31vh;

}
.statyatext{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    width: 69vw;
    height: 29vh;
    border-radius: 25px;
    background-color: bisque;
}
.zag{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 69vw;
    height: 4vh;
}
.textcontainer{
    margin-left: 1vw;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    width: 67vw;
    height: 20vh;
}
@media screen and (max-width: 768px){
    .shipht2{
        font-size: 2ch;
    }
    .shipht{
        font-size: 3ch;
    }
    .shipht3{
        font-size: 2ch;
    }
}
@media screen and (max-width: 1024px){
    .shipht2{
        font-size: 2ch;
    }
    .shipht{
        font-size: 3ch;
    }
    .shipht3{
        font-size: 2ch;
    }
}
@media screen and (min-width: 1025px){
    .shipht2{
        font-size: 3ch;
    }
    .shipht{
        font-size: 3ch;
    }
    .shipht3{
        font-size: 3ch;
    }
}
@media screen and (min-width: 1280px){
    .shipht2{
        font-size: 4ch;
    }
    .shipht{
        font-size: 4ch;
    }
    .shipht3{
        font-size: 3ch;
    }
}
