  body{
                    margin: 0;
                    overflow-x: hidden ;}
                .mainclass{
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        width: 100vw;
                        height: 83vh;
                        background-image: url("/gameplants/infa/phoninfa2.jpg"); 
                        background-size: cover; 
                        background-position: center 25%; 
                        background-repeat: no-repeat;
                }
                .header{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        width: 100vw;
                        height: 17vh;
                        background-color: #7FC1DD;
                }
                .but{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        margin-top: 3vh;
                        border-radius: 25px ;
                        width: 25vw;
                        height: 11vh;
                        background-color: #d1eaa6;
                        opacity: 1;
                        border: solid 3px #74afc9;  
                        transition: 0.5s;                                   
                    }
                .but:hover{
                        background-color: #e0ffaa ;
                        border: solid 3px #bcebff;
                    }
                .frame{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-left: 50vw;
                    margin-top: 7vh;
                    width: 40vw;
                    height: 60vh;
                    background-color: #7FC1DD;
                    border-radius: 25px;
                    transition: 0.3s;
                }
                .variant{
                    margin-left: 2vw;
                    width: 34vw;
                    height: 18vh;
                    background-color: #dddddd;
                    border-radius: 25px;
                    transition: 0.3s;
                }
                .variant:hover{
                    background-color: #e6fafa;
                    width: 35vw;
                    height: 18vh;
                }
                .var_img_box{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 32vw;
                    height: 13vh;
                    margin-left: 1vw;
                    
                }
                .var_img{
                    width: 10vw;
                    height: 13vh;
                    background-color: #7FC1DD;
                    border-radius: 15px;
                    transition: 0.3s;
                    border: solid 1px #242c17;
                }
                .var_img:hover{
                    width: 12vw;
                    height: 15vh;
                }
                .variant_true{
                    background-color: #e0fdad;
                }
                .variant_true:hover{
                    width: 35vw;
                    height: 18vh;
                    background-color: #c4fd61;

                }
                .frame_into{
                    display: flex;
                    flex-direction: column;
                    width: 34vw;
                    margin-left: 3vw;
                    height: 48vh;
                    background-color: #dddddd;
                    border-radius: 25px ;
                }
                .text_into{
                    width: 30vw;
                    margin-left: 2vw;
                    height: 20vh;
                    margin-top: 2vh;
                }
                .pict_box{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 31vw;
                    height: 24vh;
                    margin-left: 1.5vw;                    
                }
                .pict_info{
                    width: 15vw;
                    height: 24vh;
                    background-color: #d1eaa6;
                    border: solid 2px #242c17;
                    border-radius: 25px;
                    transition: 0.5s;
                }
                .pict_info:hover{
                    width: 20vw;
                    height: 32vh;
                }
                .shipht2{
                    color: #242c17;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    margin-top: 2vh;
                    margin-left: 1vw;
                    font-size: 4ch;
                    font-weight: 700;
                    text-decoration: none; 
                }
                .shrift_infa{
                    color: #354320;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size:3vh;
                    font-weight: 200;
                    text-decoration: none;                    
                }
                .shrift_infa2{
                    color: #242c17;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    margin-top: 1vh;
                    margin-left: 1vw;
                    font-size: 3ch;
                    font-weight: 700;
                    text-decoration: none;                     
                }
                .peremot{
                    width: 15vw;
                    height: 10vh;
                    background-color: #d1eaa6;
                    margin-left: 83vw;
                    margin-top: 4vh;
                    border-radius: 25px;
                    text-decoration: none;
                    border: solid 3px #242c17; 
                }
                .peremot:hover{
                    background-color: #e0ffaa;
                }
                .shrift_infa{
                    margin-left: 1vw;
                    color: #354320;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size:3vh;
                    font-weight: 200;
                    text-decoration: none;   
                }
                 @media screen and (max-width: 768px){
                    .shipht2{
                        font-size: 2ch;
                    }
                    .frame{
                        margin-left: 40vw;
                        width:  50vw;
                    }
                    .frame_into{
                        width: 44vw;
                    }
                    .text_into{
                        width: 40vw;
                    }
                    .pict_box{
                        width: 40vw;
                    }
                    .pict_info{
                        width: 18vw;
                    }
                    .pict_info:hover{
                        width: 22vw;
                    }
                    .shrift_infa{
                        font-size: 3vh;
                        font-weight: 300;
                    }
                    .peremot{
                        margin-top: 2vh;
                    }
                }
                @media screen and (max-width: 1024px){
                    .shipht2{
                        font-size: 2ch;
                    }
                    .variant{
                        width: 42vw;
                        height: 19vh;
                    }
                    .variant:hover{
                        width: 47vw;
                        height: 21vh;
                    }
                    .frame{
                        margin-left: 45vw;
                        width:  46vw;
                        height: 64vh;
                        margin-top: 5vh;
                    }
                    .frame_into{
                        margin-left: 2vw;
                        width: 42vw;
                        height: 58vh;
                    }
                    .text_into{
                        width: 40vw;
                        height: 26vh;

                    }
                    .pict_box{
                        width: 40vw;
                        height: 26vh;
                    }
                    .pict_info{
                        width: 19vw;
                        height: 26vh;
                    }
                    .pict_info:hover{
                        width: 22vw;
                    }
                    .shrift_infa{
                        font-size: 3vh;
                        font-weight: 300;
                    }
                    .peremot{
                        margin-top: 2vh;
                    }
                }
                @media screen and (min-width: 1025px){
                    .shipht2{
                        font-size: 3ch;
                    }
                    .variant{
                        width: 46vw;
                        height: 19vh;
                    }
                    .variant:hover{
                        width: 47vw;
                        height: 21vh;
                    }
                    .frame{
                        margin-left: 45vw;
                        width:  50vw;
                        height: 64vh;
                        margin-top: 4vh;
                    }
                    .frame_into{
                        margin-left: 2vw;
                        width: 40vw;
                        height: 58vh;
                    }
                    .text_into{
                        margin-left: 1vw;
                        width: 44vw;
                        height: 28vh;

                    }
                    .pict_box{
                        width: 44vw;
                        height: 26vh;
                    }
                    .pict_info{
                        width: 19vw;
                        height: 26vh;
                    }
                    .pict_info:hover{
                        width: 22vw;
                    }
                    .shrift_infa{
                        font-size: 3ch;
                        font-weight: 300;
                    }
                    .peremot{
                        margin-top: 1vh;
                    }                    
                }
                @media screen and (min-width: 1280px){
                    .shipht2{
                        font-size: 4ch;
                    }
                    .variant{
                        width: 50vw;
                        height: 18vh;
                    }
                    .variant:hover{
                        width: 52vw;
                        height: 20vh;
                    }
                    .frame{
                        height: 60vh;
                        margin-left: 39vw;
                        width: 56vw;
                    }
                    .frame_into{
                        width: 52vw;
                        height: 57vh;
                        margin-left: 2vw;
                    }
                    .text_into{
                        width: 50vw;
                        height: 22vh;
                    }
                    .pict_box{
                        margin-top: 5vh;
                        height: 24vh;
                        width: 50vw;
                    }
                    .pict_info{
                        height: 24vh;
                        width: 23vw;
                    }
                    .pict_info:hover{
                        height: 27vh;
                        width: 26vw;
                    }
                    .shrift_infa{
                        font-size: 3vh;
                    }
                    .peremot{
                        margin-top: 1vh;
                    }
                }
